* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    font-size: 100%;
}

body {
    background-color: hsl(0, 0%, 98%);
    width: 100%;
}

.navbar {
    padding: 25px 25px;
    width: 100%;
    align-items: center;
    position: fixed;

}

.leftpice {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    /* border: 1px solid red; */
    /* position: relative; */
    align-items: center;
}

.leftpice img {
    width: 86px;
    height: 26px;
}

.sidebar {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.navoptions {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 41px;
    align-items: center;
}

.navoptions a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

.login-register {
    display: flex;
    /* border: 1px solid gray; */
    justify-content: space-between;
    gap: 30px;

}

.login {
    border: none;
    background-color: unset;
    color: hsl(0, 0%, 41%);
    font-size: 16px;
}

.register {
    width: 6rem;
    height: 35px;
    border-radius: 12px;
    border: 1px solid hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);

}

.login:hover {
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.register:hover {
    cursor: pointer;
    font-weight: bold;
    border: 2px solid black;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px 0px 147px;
    gap: 120px;
    flex-wrap: wrap-reverse;

}

.section1 {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.section1 h1 {
    font-size: 70px;
    font-weight: 700;
    width: 27rem;
}

.section1 p {
    font-size: 16px;
    font-weight: 400;
    color: hsl(0, 0%, 41%);
    width: 24rem;
}

.hpb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

}

.learnmore {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border: 1px solid;
    width: 7rem;
    height: 43px;
    border-radius: 13px;
    font-weight: 700;
    text-align: center;
}

.section2 img {
    width: 464px;
    margin-top: 100px;
}
.section2 :nth-child(2){
    display: none;
}

.li01 {
    position: relative;
}


.time {
    display: flex;
    background-color: hsl(0, 0%, 98%);
    width: 170px;
    height: 167px;
    /* padding-top: 18px; */
    border-radius: 10px;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 166px -42px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 1px 166px -42px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 166px -42px rgba(0, 0, 0, 1);
    top: 2em;
    transform: translateX(-50%);
    transition: 0.2s;
    /* opacity: 50%; */
    position: absolute;
    display: none;

}

.imgs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
    padding-top: 4px;
    padding-bottom: 3px;
}

.imgs img {
    width: 15px;
    height: 15px;
}

.time001 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
    list-style: none;
}

.time001 a {
    text-decoration: unset;
    color: hsl(0, 0%, 41%);
    font-size: 18px;

}

.features {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.features a:hover {
    cursor: pointer;
    color: black;
    font-weight: bold;

}

.features img {
    width: 11px;
    height: 7px;
}


.li02 {
    position: relative;
}

.company {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.company a:hover {
    cursor: pointer;
    color: black;
    font-weight: bold;

}

.company img {
    width: 11px;
    height: 7px;
}

.aboutus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
    list-style: none;
    background-color: hsl(0, 0%, 98%);
    width: 133px;
    height: 155px;
    border-radius: 10px;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 33px;
    box-shadow: 1px 1px 166px -42px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 1px 166px -42px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 166px -42px rgba(0, 0, 0, 1);
    top: 2em;
    transform: translateX(-2%);
    transition: 0.2s;
    position: absolute;
    display: none;
}

.aboutus a {
    text-decoration: unset;
    color: hsl(0, 0%, 41%);
    font-size: 18px;

}


.see {
    display: flex;
}
.see2{
    display: flex;
}
.off{
    display:none;
}

.features #arrowup {
    display: none;
}



.company #arrowup {
    display: none;
}

.active #arrowdown {
    display: none;
}

.active #arrowup {
    display: block;
    filter: brightness(0) saturate(100%) invert(0%) sepia(92%) saturate(3042%) hue-rotate(69deg) brightness(91%) contrast(106%);
}

.features .boldblack {
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.company .boldblack {
    cursor: pointer;
    color: black;
    font-weight: bold;
}



@media screen and (max-width: 810px) {

    /* body {
         overflow-x: hidden; 
    } */

    .humbrger {
        display: flex;
        flex-direction: column;
        /* gap: 8px; */
        justify-content: space-between;
        position: relative;
        z-index: 10;
    }

    .humbrger span {
        display: block;
        background-color: black;
        width: 38px;
        height: 2px;
    }

    .humbrger :not(:last-child) {
        margin-bottom: 3px;
    }

    .leftpice {
        align-items: unset;

    }

    .cross :nth-child(1) {
        transform: rotate(43deg) translatex(4px);
        transform-origin: left;
        width: 31px;
        transition: transform 0.5s ease-in-out;

    }

    .cross :nth-child(2) {
        transform: rotate(-47deg) translatex(-2px);
        width: 31px;
        transition: transform 0.5s ease-in-out;

    }

    .cross :nth-child(3) {
        visibility: hidden;
        transition: transform 0.5s ease-in-out;

    }

    .sidebar {
        flex-direction: column;
        /* border: 1px solid black; */
        height: 100vh;
        width: 60%;
        background-color: white;
        position: absolute;
        top: 0;
        right: 0;
        justify-content: unset;
        align-items: baseline;
        padding-top: 20%;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 24px;
        gap: 30px;
        display: none;

    }

    .navoptions {
        flex-direction: column;
        z-index: 2;
        align-items: unset;
    }

    .login-register {
        flex-direction: column;
        gap: unset;
        align-items: center;
        width: 100%;
        height: 15%;
    }
    .login{
        font-size: 24px;
    }
    .register{
        width:100% ;
        height: 50%;


    }

    .time {
        background-color: unset;
        width: 170px;
        height: 167px;
        /* padding-top: 18px; */
        border-radius: unset;
        justify-content: center;
        /* gap: unset; */
        padding-top: 9%;
        padding-bottom: unset;
        box-shadow: unset;
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        top: unset;
        transform: unset;
        transition: 0.2s;
        /* opacity: 50%; */
        position: unset;
        /* display: none; */
        /* border: 1px solid; */
    
    }
    .see {
        display: flex;
    }
    
    .imgs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* gap: 14px; */
        padding-top: 9px;
        height: 102%;
    }

    .see2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        background-color: unset;
        width: 133px;
        height: 155px;
        border-radius: unset;
        gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 33px;
        box-shadow: unset;
        top: unset;
        transform: unset;
        transition: 0.2s;
        position: unset;

    }

    .sidebaron{
        display: flex;

    }

    .main {
        display: flex;
        justify-content: space-between;
        align-items: unset;
        margin: unset;
        gap: unset;
        flex-wrap: wrap-reverse;
        padding-bottom: 22%;
    
    }

    .section2 img {
        width: 100%;
    }
    .section2 :nth-child(1){
        display: none;
    }
    .section2 :nth-child(2){
        display: block;
    }

    .section1 {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        text-align: center;
        padding-top: 15%;
    }
    .section1 h1 {
        font-size: 227%;
        font-weight: 700;
        width: 100%;
        text-align: center;
    }

    .hpb {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        gap: 30px;
        align-items: center;
    }
    .section1 p {
        font-size: 115%;
        font-weight: 400;
        color: hsl(0, 0%, 41%);
        width: 90%;
        /* text-align: center; */
    }


}